<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
    rel="icon"
    type="image/x-icon"
    href="/images/favicon_io/favicon.ico"
  />
  <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title><%= title %></title>
  </head>

  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%-include("navbar") %> 
   <% } %>

  <header class="incomeHeader">
    <h1 id="incomeHeader_h1"><%= authUser %>'s <%= title %></h1>
    <p id="incomeHeader_p">
      Here you can review, edit, delete, and add income
    </p>
    <img id="incomeHeader_img" src="/images/incomeImg.png" />
  </header>

 <body class="income_body">

  <div class="inc_chart_disp">
    <h1>Monthly Income</h1>
    <canvas id="income_chart"></canvas>
  </div>

  <main class="income_main">

    <div class="bodyHead">
      <h1 id="descHead">Description</h1>
      <h1 id="amtHead">Amount</h1>
      <h1 id="catHead">Category</h1>
      <h1 id="dateHead">Date</h1>
    </div>

    <div class="income_main_data">
      <% for(let i = 0; i < results.length; i++) { %>
        <a href="/catalog/income/<%= results[i]._id %>" id="incomeDisp_desc"><%= results[i].description %></a>
         <p id="incomeDisp_cat"><%= results[i].from %></p>
         <p id="incomeDisp_amt">$<%= results[i].amount %></p>
         <p id="incomeDisp_date"><%= results[i].date_month %></p>
        <% } %>
    </div>
    <% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
    <% monthlyIncTotals = [0,0,0,0,0,0,0,0,0,0,0,0]; %>
    
  </main>

   
  <% let total = 0; %>
    <% for(let i = 0; i < results.length; i++) { %> 
     <% total += results[i].amount; %> 
    <% } %>
    <% function round(value, decimals) { %>
      <% return Number(Math.round(value +'e'+ decimals) +'e-'+ decimals).toFixed(decimals); %>
    <% } %>

    <% for(let i=0; i< results.length; i++) { %>
      <% for(let x=0; x< months.length; x++){ %>
        <% if(results[i].date_month == months[x]) { %>
          <% monthlyIncTotals[x] += results[i].amount; %>
        <% } %>
        <% } %>
    <% } %>


  <h1 id="incomeBody_total">Total: $<%= round(total,2); %></h1>
  <a id="incomeBody_create" href="/catalog/income/create">+Create New Income</a>
</body>
  <%- include("footer"); %>

  <script>  
    var incChart = document.getElementById("income_chart")

    var myChart = new Chart(incChart, {
    type: 'line',
    data: {
        labels: ["Jan", "Feb", "March","Apr","May","June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Income in Dollars",
            data: ["<%= monthlyIncTotals[0] %>", "<%= monthlyIncTotals[1] %>","<%= monthlyIncTotals[2] %>", "<%= monthlyIncTotals[3] %>", "<%= monthlyIncTotals[4] %>", "<%= monthlyIncTotals[5] %>", "<%= monthlyIncTotals[6] %>", "<%= monthlyIncTotals[7] %>", "<%= monthlyIncTotals[8] %>", "<%= monthlyIncTotals[9] %>", "<%= monthlyIncTotals[10] %>", "<%= monthlyIncTotals[11] %>"],
            backgroundColor: [
                'rgb(255, 166, 3)',
            ],
            borderColor: [
                'rgb(255, 166, 3)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                labels: {
                  color: "white",
                    // This more specific font property overrides the global property
                    font: {
                        size: 15,
                     }
                   }
                }
             },
        scales: {
              y: {  
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white",
                  font: {
                    size: 15, 
                  },
                  beginAtZero: true
                }
              },
              x: { 
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white", 
                  font: {
                    size: 14 
                  },  
                  beginAtZero: true
                }
              }
            }
         }
});
  </script>
</html>
