<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
    src="https://kit.fontawesome.com/9b6b4f0fa1.js"
    crossorigin="anonymous"></script>
    <title><%= title %></title>
  </head>
  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%-include("navbar") %> 
   <% } %>
  <div class="incomeHeader">
    <h1 class="incomeHeader_h1"><%= authUser %>'s <%= title %></h1>
    <p class="incomeHeader_p">
      Here you can review, edit, delete, and add income
    </p>
    <img class="incomeHeader_img" src="/images/incomeImg.png" />
  </div>
 
  <div class="income_body">
    <% for(let i = 0; i < results.length; i++) { %>
      <a  href="/catalog/income/<%= results[i]._id %>"><div class="incomeDisplay">
        <i class="fa-solid fa-money-bill"></i>
        <p class="incomeDisp_desc"><%= results[i].description %></p>
       <p class="incomeDisp_amt">$<%= results[i].amount %></p>
    </div></a>
    <% } %>
  </div>
   
  <% let total = 0; %>
    <% for(let i = 0; i < results.length; i++) { %> 
     <% total += results[i].amount; %> 
    <% } %>
    <% function round(value, decimals) { %>
      <% return Number(Math.round(value +'e'+ decimals) +'e-'+ decimals).toFixed(decimals); %>
    <% } %>
  <h1 class="incomeBody_total">Total: $<%= round(total,2); %></h1>
  <a class="incomeBody_create" href="/catalog/income/create">Create New Income</a>
  <%- include("footer"); %>
</html>
