<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
    rel="icon"
    type="image/x-icon"
    href="/images/favicon_io/favicon.ico"
  />
    <title><%= title %></title>
  </head>

  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%-include("navbar") %> 
   <% } %>



  <header class="incomeHeader">
    <h1 id="incomeHeader_h1"><%= authUser %>'s <%= title %></h1>
    <p id="incomeHeader_p">
      Here you can review, edit, delete, and add income
    </p>
    <img id="incomeHeader_img" src="/images/incomeImg.png" />
  </header>

 <body class="income_body">

  <main class="income_main">

    <div class="bodyHead">
      <h1 id="descHead">Description</h1>
      <h1 id="amtHead">Amount</h1>
      <h1 id="catHead">Category</h1>
      <h1 id="dateHead">Date</h1>
    </div>

    <div class="income_main_data">
      <% for(let i = 0; i < results.length; i++) { %>
        <a href="/catalog/income/<%= results[i]._id %>" id="incomeDisp_desc"><%= results[i].description %></a>
         <p id="incomeDisp_cat"><%= results[i].from %></p>
         <p id="incomeDisp_amt">$<%= results[i].amount %></p>
         <p id="incomeDisp_date"><%= results[i].date_month %></p>
        <% } %>
    </div>
    
  </main>

   
  <% let total = 0; %>
    <% for(let i = 0; i < results.length; i++) { %> 
     <% total += results[i].amount; %> 
    <% } %>
    <% function round(value, decimals) { %>
      <% return Number(Math.round(value +'e'+ decimals) +'e-'+ decimals).toFixed(decimals); %>
    <% } %>

  <h1 id="incomeBody_total">Total: $<%= round(total,2); %></h1>
  <a id="incomeBody_create" href="/catalog/income/create">+Create New Income</a>
</body>
  <%- include("footer"); %>
</html>
