<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <%- include("navbar"); -%>
  <div class="det_body">
    <h1 class="det_title"><%= title %></h1>
    <h2 class="det_name"><%= results.name %></h2>
    <h3> Description:</h3>
    <%= results.description %>
    <h3> From:</h3>
    <%= results.from %>
    <h3> Amount:</h3>
    <%= "$" + results.amount %>
    <h3> <%= results.date_formatted  %> </h3>
  </br>
    <a id="receipt_del" href="/catalog/income/<%= results._id %>/delete"
      >Delete</a
    >
    <a id="receipt_upd" href="/catalog/income/<%= results._id %>/update"
      >Update</a
    >
    </div>
</html>
