<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link
    rel="icon"
    type="image/x-icon"
    href="/images/favicon_io/favicon.ico"
  />
    <title>Document</title>
  </head>
  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%-include("navbar") %> 
   <% } %>
  <body class="income_update_body">
    <h1><%= title %></h1>
    <form action="" method="POST" class="income_update_form">
      <input type="text" name="name" value="<%= results.name %>" />
      <input
        type="text"
        value="<%= results.description %>"
        name="description"
      />
      <input type="text" name="from" value="<%= results.from %>" />
      <input type="date" name="date" />
      <input
        type="number"
        name="amount"
        step="0.01"
        required="true"
        value="<%= results.amount %>"
      />
      <input type="hidden" value="<%= results._id %>" />
      <input id="submit_btn" type="submit" value="Update Income" />
    </form>
  </body>
</html>
