<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <%- include("navbar") %>

  <h1><%= title %></h1>
  <body>
    <% let total = 0; %>
    <ol>
      <% for(let i = 0; i < results.length; i++){ %>
      <li>
        <strong>Name: </strong>
        <%= results[i].name %>
        <strong>Description: </strong>
        <%= results[i].description %>
        <strong>Amount: </strong>
        <%= results[i].amount %>
        <a id="income_det" href="/catalog/income/<%= results[i]._id %>"
          >Details</a
        >
      </li>
      <% total += results[i].amount %> <% } %> <% function round(value,
      decimals) { %> <% return Number(Math.round(value +'e'+ decimals) +'e-'+
      decimals).toFixed(decimals); %> <% } %>

      <h1>Total: $<%= round(total,2) %></h1>
    </ol>
    <a href="/catalog/income/create">Create New Income</a>
  </body>
</html>
