<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
    src="https://kit.fontawesome.com/9b6b4f0fa1.js"
    crossorigin="anonymous"
  ></script>
  </head>
  <%- include("navbar") -%>
    <div class="receiptHeader">
      <h1 class="receiptHeader_h1"><%= title %></h1>
      <p class="receiptHeader_p">Here you can review, edit, delete, and add receipts</p>
      <img class="receiptHeader_img" src="/images/receiptimage.png">
    </div>
    <div class="receiptBody">
      <% for(let i = 0; i < receipt_list.length; i++) { %>
      <a href="/catalog/receipt/<%= receipt_list[i]._id %>"><div class="receiptBody_list">
        <i class="fa-solid fa-receipt"></i>
        <h3 class="receiptBody_title"><%= receipt_list[i].description %></h3>
        <p class="receiptBody_amt"><%= "$" + receipt_list[i].total %> </p>
        <p class="receiptBody_date"><%= receipt_list[i].date_formatted %></p>
        
      </div></a>
      <% } %>
    </div>
    <% let total = 0; %>
    <% for(let i = 0; i < receipt_list.length; i++) { %> 
     <% total += receipt_list[i].total; %> 
    <% } %>
    <% function round(value, decimals) { %>
      <% return Number(Math.round(value +'e'+ decimals) +'e-'+ decimals).toFixed(decimals); %>
    <% } %>
    
    <h2 class="receiptBody_total">Receipt Totals: $<%=round(total, 2);%></h2>
    <a class="receiptBody_create" href="receipt/create">Add Receipt</a>
  <%- include("footer"); %>
</html>
