<!DOCTYPE html>
<html>
  <head>
    <link
    rel="icon"
    type="image/x-icon"
    href="/images/favicon_io/favicon.ico"
  />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%-include("navbar") %> 
   <% } %>

   <body class="expenses_content">

    <header class="expensesHeader">
      <h1 id="expensesHeader_h1"><%= authUser %>'s <%= title %></h1>
      <p id="expensesHeader_p">Here you can review, edit, delete, and add receipts</p>
      <img id="expensesHeader_img" src="/images/receiptimage.png">
    </header>
    
    <div class="chart_disp">
      <h1>Spending Trend</h1>
      <canvas id="expense_chart"></canvas>
    </div>

<!-- THIS IS ON HOLD FOR NOW Got to be a better, more efficient way to sort KEEP AT IT -->
    <div class="expense_sort_options">
        <form action="" method="GET">
          <input type="submit" id="byDate" name="sortBy" value="date"/>
          <input type="submit" id="byAmt"  name="sortBy" value="total"/>
          <input type="submit" id="byCat"  name="sortBy" value="category"/>
          <input type="submit" id="byDesc" name="sortBy" value="title"/>
        </form>
    </div>

    <main class="expensesBody">
      <div class="expensesBody_headings">
        <h1 id="title_heading">Title</h1>
        <h1 id="amount_heading">Amount</h1>
        <h1 id="cat_heading">Category</h1>
        <h1 id="date_heading">Date</h1>
      </div>

      <div class="expensesBody_data">
        <% for(let i = 0; i < receipt_list.length; i++) { %>
        <!--<a href="/catalog/receipt/<%= receipt_list[i]._id %>"></a>-->
          <a href="/catalog/receipt/<%= receipt_list[i]._id %>" id="expensesBody_title"><%= receipt_list[i].description %></a>
          <p id="expensesBody_amt"><%= "$" + receipt_list[i].total %> </p>
          <p id="expensesBody_cat"><%= receipt_list[i].category %> </p>
          <p id="expensesBody_date"><%= receipt_list[i].date_formatted %></p>
          <% } %>
      </div>

    </main>

    <% let total = 0; %>
    <% for(let i = 0; i < receipt_list.length; i++) { %> 
     <% total += receipt_list[i].total; %> 
    <% } %>
    <% function round(value, decimals) { %>
      <% return Number(Math.round(value +'e'+ decimals) +'e-'+ decimals).toFixed(decimals); %>
    <% } %>

    <h2 id="expensesBody_total">Receipt Totals: $<%=round(total, 2);%></h2>
    <a id="expensesBody_create" href="receipt/create">+ Add Receipt</a>
  </body>
  
<script>
  const expChart = document.getElementById('expense_chart');
  const byDate = document.getElementById('byDate');
  const byAmt = document.getElementById('byAmt');
  const byCat = document.getElementById('byCat');
  const byDesc = document.getElementById('byDesc');
  const expOpt = document.querySelector('.expense_sort_options')

  function changeUnderline(e) {
    const target = e.target;
    if(target !== expOpt)
    {
      if(target == byAmt) {
      target.style.borderBottom = "1px solid white";
      byDate.style.borderBottom = "none";
      byCat.style.borderBottom = "none";
      byDesc.style.borderBottom = "none";
      } else if(target == byCat) {
      target.style.borderBottom = "1px solid white";
      byDate.style.borderBottom = "none";
      byAmt.style.borderBottom = "none";
      byDesc.style.borderBottom = "none";
      } else if(target == byDesc) {
      target.style.borderBottom = "1px solid white";
      byDate.style.borderBottom = "none";
      byAmt.style.borderBottom = "none";
      byCat.style.borderBottom = "none";
      } else if(target == byDate) {
      target.style.borderBottom = "1px solid white";
      byCat.style.borderBottom = "none";
      byAmt.style.borderBottom = "none";
      byDesc.style.borderBottom = "none";
      }
    }
  } 
  expOpt.addEventListener("click", changeUnderline, false);


  var myChart = new Chart(expChart, {
    type: 'line',
    data: {
        labels: ["Jan", "Feb", "March","Apr","May","June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Spending in Dollars",
            data: [445, 30, 613, 1239, 345, 240, 123, 329, 885, 543, 1023, 748],
            backgroundColor: [
              'rgb(255,166,3)'
            ],
            borderColor: [
              'rgb(255,166,3)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                labels: {
                  color: "white",
                    // This more specific font property overrides the global property
                    font: {
                        size: 15,
                     }
                   }
                }
             },
        scales: {
              y: {  
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white",
                  font: {
                    size: 15, 
                  },
                  beginAtZero: true
                }
              },
              x: { 
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white", 
                  font: {
                    size: 14 
                  },  
                  beginAtZero: true
                }
              }
            }
         }
});
  </script>
  <%- include("footer"); %>
</html>
