<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Summary</title>
  </head>
  <%- include("navbar") %>

  <!-- Summary Header -->
  <div class="summary_header">
    <h1><%= title %></h1>
    <p>View all income, expenses and spending habits</p>
    <img src="/images/summary.png" alt="Summary Image" />
  </div>

  <div class="summary_body">
    <!-- Summary Income List-->
    <% let total_income = 0; %> <% let balance = 0 %>
    <h1 class="summary_incomeTitle">Incomes</h1>
    <div class="summary_incomeList">
      <h3>Name</h3>
      <h3>Description</h3>
      <h3>Total</h3>
      <h3>Date</h3>
      <h3>Details</h3>
      <% for(let i = 0; i < incomes.length; i++){ %>
      <p id="summary_iName"><%= incomes[i].name %></p>
      <p id="summary_iDesc"><%= incomes[i].description %></p>
      <p id="summary_iAmt">$<%= incomes[i].amount %></p>
      <p id="summary_iDate"><%= incomes[i].date_formatted %></p>
      <a id="summary_iDet" href="/catalog/income/<%= incomes[i]._id %>">More</a>
      <% total_income += incomes[i].amount %> <% } %> <% function
      round(value,decimals) { %> <% return Number(Math.round(value +'e'+
      decimals) +'e-'+ decimals).toFixed(decimals); %> <% } %>
    </div>
    <h2 class="summary_incomeTotal">
      Income Total: $<%= round(total_income,2) %>
    </h2>

    <!--       Summary Receipts                -->
    <h1 class="summary_receiptTitle">Receipts</h1>
    <div class="summary_receiptList">
      <h3>Name</h3>
      <h3>Description</h3>
      <h3>Total</h3>
      <h3>Date</h3>
      <h3>Details</h3>
      <% for(let i = 0; i < receipts.length; i++) { %>
      <p id="summary_recName"><%= receipts[i].name %></p>
      <p><%= receipts[i].description %></p>
      <p>Total: <%= "$" + receipts[i].total %></p>
      <p><%= receipts[i].date_formatted %></p>
      <a href="/catalog/receipt/<%= receipts[i]._id %>">More</a>
      <% } %>
    </div>

    <% let total_receipt = 0; %> <% for(let i = 0; i < receipts.length; i++) {
    %> <% total_receipt += receipts[i].total; %> <% } %> <% function
    round(value, decimals) { %> <% return Number(Math.round(value +'e'+
    decimals) +'e-'+ decimals).toFixed(decimals); %> <% } %>

    <h2 class="summary_receiptTotal">
      Receipt Totals: $<%=round(total_receipt, 2);%>
    </h2>
  </div>
  <!--  Balance and Charts -->
  <% balance = total_income - total_receipt %>
  <h1 class="summary_balance">Balance = $<%= round(balance, 2); %></h1>
  <div class="chart_div">
    <svg id="chart_div" style="width: 100%; max-width: 600px"></svg>
  </div>
  <%- include('footer') %>
</html>
