<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Document</title>
  </head>
  <%- include("navbar") %>
  <h1 class="summary_title"><%= title %></h1>
  <div class="summary_body">
    
    <% let total_income = 0; %> 
    <% let balance = 0 %>
    <div class="summary_income">
      <h2>Incomes:</h2>
    <ul class="summary_ol">
      <% for(let i = 0; i < incomes.length; i++){ %>
      <li>
        <h2><%= incomes[i].name %> </h2>
        <p><%= incomes[i].description %> </p>
        <p><%= incomes[i].amount %></p>
        <a href="/catalog/income/<%= incomes[i]._id %>">Details</a>
      </li>
      

      <% total_income += incomes[i].amount %> <% } %> <% function round(value,
      decimals) { %> <% return Number(Math.round(value +'e'+ decimals) +'e-'+
      decimals).toFixed(decimals); %> <% } %>
    </ul>
  </div>
    <h2 class="summary_incomeTotal">Income Total: $<%= round(total_income,2) %></h2>

<div class="summary_receipt">
    <h2>Receipts:</h2>
    <ol>
      <% for(let i = 0; i < receipts.length; i++) { %>
      <li>
        <strong>Name: </strong>
        <%= receipts[i].name %>
        <strong>Description: </strong>
        <%= receipts[i].description %>
        <strong>Total: </strong>
        <%= "$" + receipts[i].total %>
        <a href="/catalog/receipt/<%= receipts[i]._id %>">Details</a>
      </li>
      <% } %>
    </ol>
</div>
    <% let total_receipt = 0; %> <% for(let i = 0; i < receipts.length; i++) { %> <%
    total_receipt += receipts[i].total; %> <% } %> <% function round(value,
    decimals) { %> <% return Number(Math.round(value +'e'+ decimals) +'e-'+
    decimals).toFixed(decimals); %> <% } %>

    <h2 class="summary_receiptTotal">Receipt Totals: $<%=round(total_receipt, 2);%></h2>
    
    <% balance = total_income - total_receipt %>
    <h1 class="summary_balance">Balance = $<%= round(balance, 2); %></h1>
    <div class="chart_div">
      <svg id="chart_div" style="width:100%;max-width:600px">
      </svg>
        </div>
</html>
