<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
    rel="icon"
    type="image/x-icon"
    href="/images/favicon_io/favicon-16x16.png"
  />
  <script
  src="https://kit.fontawesome.com/9b6b4f0fa1.js"
  crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Summary</title>
  </head>

  <% if(authCheck){ %> 
    <%- include("navbarLI") %> 
    <% } else { %> 
    <%-include("navbar") %> 
   <% } %>

  <!-- Summary Header -->
 
  
  <header class="summary_header">
    <h1><%= authUser %>'s <%= title %></h1>
      <p>View all income, expenses and spending habits</p>
        <% const date = new Date(); %>
    <div class="summary_header_right">
      <div class="summary_header_right_top">
        <% const weekday = ["Sunady", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
        <h1>Today is <%= weekday[date.getDay()] %></h1>
      </div>
      <div class="summary_header_right_bot">
        <i class="fa-solid fa-calendar"></i>
        <h2 id="summary_header_date"><%= date.toDateString(); %></h2>
        <i class="fa-solid fa-clock"></i>
        <h2 id="summary_header_time"><%= date.toLocaleTimeString(); %></h2>
      </div>
    </div>
  </header>

  <body class="summary_body">

    <div class="summary_charts">
        <button id="exp_btn">Expenses</button>
        <button id="inc_btn">Income</button>
        <h1 id="monthlySpendingTitle">Monthly Spending</h1>
      <div class="chartDisp1 charts">
        <canvas id="monthlySpending"></canvas>
      </div>
      <h1 id="majorExpensesTitle">Major Expenses</h1>
      <div class="chartDisp2 charts">
        <canvas id="majorExpenses"></canvas>
      </div>
      <h1 id="monthlyIncomeTitle">Monthly Income</h1>
      <div class="chartDisp3 charts">
        <canvas id="monthlyIncome"></canvas>
      </div>
      <h1 id="incomeSourcesTitle">Income Sources</h1>
      <div class="chartDisp4 charts">
        <canvas id="incomeSources"></canvas>
      </div>
    </div>

    <% var monthRecTotals = [0,0,0,0,0,0,0,0,0,0,0,0] %>
      <% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
      <% var total_receipt = 0; %> 
      <% var categories = ["Food","Entertainment","House","Car","Work","Clothing","Pet","Self-Care"]%>
      <% var catTotals = [0,0,0,0,0,0,0,0] %>
      <% var incCategories = ["Job", "Gift", "Investment", "Savings", "Other"] %>
      <% var incCatTotals = [0,0,0,0,0]; %>
      <% monthlyIncTotals = [0,0,0,0,0,0,0,0,0,0,0,0]; %>

  <main class="summary_content">
      <!-- Summary Income List-->
      <% var total_income = 0; %> 
      <% var balance = 0 %>
      <h1 id="summary_incomeTitle">Income</h1>
      <a href="/catalog/income/create"id="addIncome">+Income</a>
      <div class="summary_incomeList">
        <div class="summary_incomeList_titles">
          <h3 id="iDescTitle">Description</h3>
          <h3 id="iTotalTitle">Total</h3>
          <h3 id="iDateTitle">Date</h3>
          <h3 id="iCatTitle">Category</h3>
       </div>
        <% for(let i = 0; i < incomes.length; i++){ %>  
        <a id="summary_iDet" href="/catalog/income/<%= incomes[i]._id %>"><%= incomes[i].description %></a>
        <p id="summary_iAmt">$<%= incomes[i].amount %></p>
        <p id="summary_iDate"><%= incomes[i].date_month %></p>
        <p id="summary_iFrom"><%= incomes[i].from %></p> 
        <% total_income += incomes[i].amount %> <% } %>
        <% function round(value,decimals) { %> 
          <% return Number(Math.round(value +'e'+decimals) +'e-'+ decimals).toFixed(decimals); %> 
        <% } %>
      
        <h2 id="summary_incomeTotal">
          Total Income: $<%= round(total_income,2) %>
        </h2> 
      </div>

      <% for(let i=0; i< incomes.length; i++) { %>
        <% for(let x=0; x< months.length; x++){ %>
          <% if(incomes[i].date_month == months[x]) { %>
            <% monthlyIncTotals[x] += incomes[i].amount; %>
          <% } %>
          <% } %>
      <% } %>


      <% for(let i=0; i< incomes.length; i++) { %>
        <% for(let x=0; x< incCategories.length; x++){ %>
          <% if(incomes[i].from == incCategories[x]) { %>
            <% incCatTotals[x] += 1; %>
          <% } %>
          <% } %>
      <% } %>



    <!--       Summary Receipts                -->
      <h1 id="summary_receiptTitle">Expenses</h1>
      <a href="/catalog/receipt/create" id="addExpense">+Expense</a>
      <div class="summary_receiptList">
        <div class="summary_receiptList_titles">
          <h3>Description</h3>
          <h3>Total</h3>
          <h3>Date</h3>
          <h3 id="rCatTitle">Category</h3>
        </div>
        <div class="summary_receiptList_data">
          <% for(let i = 0; i < receipts.length; i++) { %>
          <a id="summary_recName" href="/catalog/receipt/<%= receipts[i]._id %>"><%= receipts[i].description %></a>
          <p><%= "$" + receipts[i].total %></p>
          <p><%= receipts[i].date_month %></p>
          <p id="summary_rCat"><%= receipts[i].category %></p>
          <% } %>
        </div>

      <% for(let i = 0; i < receipts.length; i++) { %> 
        <% total_receipt += receipts[i].total; %> 
        <% } %>
      <% function round(value, decimals) { %> 
        <% return Number(Math.round(value +'e'+ decimals) +'e-'+ decimals).toFixed(decimals); %> 
        <% } %>

      <% for(let i=0; i< receipts.length; i++) { %>
          <% for(let x=0; x< months.length; x++){ %>
            <% if(receipts[i].date_month == months[x]) { %>
                <% monthRecTotals[x] += receipts[i].total; %>
              <% } %>
            <% } %>
        <% } %>

      <% for(let i=0; i< receipts.length; i++) { %>
          <% for(let x=0; x< categories.length; x++){ %>
            <% if(receipts[i].category == categories[x]) { %>
              <% catTotals[x] += 1; %>
            <% } %>
            <% } %>
        <% } %>
      
      <h2 id="summary_receiptTotal">
        Total Expenses: $<%=round(total_receipt, 2);%>
      </h2>
      </div>
      <!--  Balance and Charts -->
      <% balance = total_income - total_receipt %>
      <h1 id="summary_balance">Balance = $<%= round(balance, 2); %></h1>
    </main>

  </body>
  
</html>

  <script>
    const ctx = document.getElementById("monthlySpending");
    const gtx = document.getElementById("majorExpenses");
    const mtx = document.getElementById("monthlyIncome");
    const btx = document.getElementById("incomeSources");
    const expBtn = document.getElementById("exp_btn");
    const incBtn = document.getElementById("inc_btn");
    const chart1 = document.querySelector(".chartDisp1");
    const chart2 = document.querySelector(".chartDisp2");
    const chart3 = document.querySelector(".chartDisp3");
    const chart4 = document.querySelector(".chartDisp4");
    const chart1Text = document.getElementById("monthlySpendingTitle");
    const chart2Text = document.getElementById("majorExpensesTitle");
    const chart3Text = document.getElementById("monthlyIncomeTitle");
    const chart4Text = document.getElementById("incomeSourcesTitle");

    expBtn.addEventListener("click", function() {
      expBtn.style.backgroundColor = "#30353d";
      incBtn.style.backgroundColor = "#4edff9";
      expBtn.style.color = "white";
      incBtn.style.color = "black";
      chart1.style.display = "grid";
      chart2.style.display = "grid";
      chart3.style.display = "none";
      chart4.style.display = "none";
      chart1Text.style.visibility = "visible";
      chart2Text.style.visibility = "visible";
      chart3Text.style.visibility = "hidden";
      chart4Text.style.visibility = "hidden";
    })

    incBtn.addEventListener("click", function() {
      incBtn.style.backgroundColor = "#30353d"
      expBtn.style.backgroundColor = "#4edff9";
      incBtn.style.color = "white";
      expBtn.style.color = "black";
      chart1.style.display = "none";
      chart2.style.display = "none";
      chart3.style.display = "grid";
      chart4.style.display = "grid";
      chart1Text.style.visibility = "hidden";
      chart2Text.style.visibility = "hidden";
      chart3Text.style.visibility = "visible";
      chart4Text.style.visibility = "visible";
    })

    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Jan", "Feb", "March","Apr","May","June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Spending in Dollars",
            data: ["<%=monthRecTotals[0]%>", "<%=monthRecTotals[1]%>", "<%=monthRecTotals[2]%>", "<%=monthRecTotals[3]%>", "<%=monthRecTotals[4]%>", "<%=monthRecTotals[5]%>","<%=monthRecTotals[6]%>", "<%=monthRecTotals[7]%>", "<%=monthRecTotals[8]%>", "<%=monthRecTotals[9]%>", "<%=monthRecTotals[10]%>", "<%=monthRecTotals[11]%>"],
            backgroundColor: [
              'rgba(78, 250, 255)'
            ],
            borderColor: [
              'rgba(78, 250, 255)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                labels: {
                  color: "white",
                    // This more specific font property overrides the global property
                    font: {
                        size: 12,
                     }
                   }
                }
             },
        scales: {
              y: {  
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white",
                  font: {
                    size: 15, 
                  },
                  beginAtZero: true
                }
              },
              x: { 
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white", 
                  font: {
                    size: 14 
                  },  
                  beginAtZero: true
                }
              }
            }
         }
});
var newChart = new Chart(gtx, {
    type: 'pie',
    data: {
        labels: ["Food","Entertainment","House","Car","Work","Clothing","Pet","Self-Care"],
        datasets: [{
            label: "Major Expenses",
            data: ["<%= catTotals[0] %>", "<%=catTotals[1] %>", "<%=catTotals[2] %>", "<%=catTotals[3] %>", "<%=catTotals[4] %>", "<%=catTotals[5] %>", "<%=catTotals[6] %>", "<%=catTotals[7] %>"],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(236, 255, 3, 0.2)',
                'rgba(98, 79, 15, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(236, 255, 3, 1)',
                'rgba(98, 79, 15, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive: true,
      plugins: {
            legend: {
                labels: {
                  color: "white",
                    // This more specific font property overrides the global property
                    font: {
                        size: 11
                     }
                   }
                }
             }
           }
});
var myChart = new Chart(mtx, {
    type: 'bar',
    data: {
        labels: ["Jan", "Feb", "March","Apr","May","June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Income in Dollars",
            data: ["<%= monthlyIncTotals[0] %>", "<%= monthlyIncTotals[1] %>","<%= monthlyIncTotals[2] %>", "<%= monthlyIncTotals[3] %>", "<%= monthlyIncTotals[4] %>", "<%= monthlyIncTotals[5] %>", "<%= monthlyIncTotals[6] %>", "<%= monthlyIncTotals[7] %>", "<%= monthlyIncTotals[8] %>", "<%= monthlyIncTotals[9] %>", "<%= monthlyIncTotals[10] %>", "<%= monthlyIncTotals[11] %>"],
            backgroundColor: [
                'rgba(78, 250, 255)',
            ],
            borderColor: [
                'rgba(78, 250, 255)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                labels: {
                  color: "white",
                    // This more specific font property overrides the global property
                    font: {
                        size: 15,
                     }
                   }
                }
             },
        scales: {
              y: {  
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white",
                  font: {
                    size: 15, 
                  },
                  beginAtZero: true
                }
              },
              x: { 
                grid: { color: "black", borderColor: "black"},
                ticks: {
                  color: "white", 
                  font: {
                    size: 14 
                  },  
                  beginAtZero: true
                }
              }
            }
         }
});
var newChart = new Chart(btx, {
    type: 'pie',
    data: {
        labels: ["Job", "Gift", "Investment", "Savings", "Other"],
        datasets: [{
            label: "Income Breakdown",
            data: ["<%= incCatTotals[0] %>", "<%= incCatTotals[1] %>", "<%= incCatTotals[2] %>", "<%= incCatTotals[3] %>", "<%= incCatTotals[4] %>"],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive: true,
      plugins: {
            legend: {
                labels: {
                  color: "white",
                    // This more specific font property overrides the global property
                    font: {
                        size: 12
                     }
                   }
                }
             }
    }
});
  </script>
