<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>

  <%- include("navbar") %>

  <body>
    <h1>Welcome <%= results.firstName %></h1>
    <div class="display_card">
      <h2>Security</h2>
      <a href="#">Update Password and More</a>
    </div>
    <div class="display_card">
      <h2>Details</h2>
      <p><%= results.firstName %></p>
      <p><%= results.lastName %></p>
      <p><%= results.email %></p>
      <p><%= results.birthDay %></p>
      <a href="#">Update Password and More</a>
    </div>
    <div class="display_card">
      <h2>Security</h2>
      <a href="#">Update Password and More</a>
    </div>
  </body>
</html>
