<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/favicon_io/favicon.ico"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>

  <%- include("navbarLI") %>

  <div class="details_body">
    <h1>Welcome <%= results.firstName %></h1>
    <div class="details_display_card_1">
      <h2>Security</h2>
      <a href="#">Update Password and More</a>
    </div>
    <div class="details_display_card_2">
      <h2>Details</h2>
      <p><%= results.firstName %></p>
      <p><%= results.lastName %></p>
      <p><%= results.email %></p>
      <p><%= results.birthDay %></p>
    </div>
    <div class="details_display_card_3">
      <h2>Blah Blah</h2>
      <a href="#">Even More Blah Blah</a>
    </div>
  </div>
</html>
